@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  /* Brand colors */
  --color-primary: hsl(325, 47%, 55%);
  --color-primary-subtle: hsl(325, 47%, 65%);
  --color-primary-strong: hsl(325, 47%, 45%);

  --color-secondary: hsl(44, 73%, 50%);
  --color-secondary-subtle: hsl(44, 73%, 60%);
  --color-secondary-strong: hsl(44, 73%, 40%);

  /* Base light/dark colors */
  --color-light-1: hsl(210, 18%, 98%);
  --color-light-2: hsl(210, 18%, 95%);
  --color-light-3: hsl(210, 18%, 90%);
  --color-light-4: hsl(210, 18%, 85%);
  --color-light-5: hsl(210, 18%, 80%);

  --color-dark-1: hsl(210, 28%, 12%);
  --color-dark-2: hsl(210, 28%, 15%);
  --color-dark-3: hsl(210, 28%, 20%);
  --color-dark-4: hsl(210, 28%, 25%);
  --color-dark-5: hsl(210, 28%, 30%);

  /* Background colors */
  --color-surface-1: light-dark(var(--color-light-1), var(--color-dark-1));
  --color-surface-2: light-dark(var(--color-light-2), var(--color-dark-2));
  --color-surface-3: light-dark(var(--color-light-3), var(--color-dark-3));

  /* Foreground colors */
  --color-fg-1: light-dark(var(--color-dark-1), var(--color-light-1));
  --color-fg-2: light-dark(var(--color-dark-3), var(--color-light-3));
  --color-fg-3: light-dark(var(--color-dark-5), var(--color-light-5));

  /* Border colors */
  --color-line-1: light-dark(var(--color-light-3), var(--color-dark-3));
  --color-line-2: light-dark(var(--color-light-4), var(--color-dark-4));
  --color-line-3: light-dark(var(--color-light-5), var(--color-dark-5));
}

html,
body {
  @apply bg-surface-1 text-fg-1 min-h-screen w-full;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Basic prose styles */

hr {
  @apply border-line-1 border-b;
}

p,
.prose,
hr {
  @apply block mb-4 mt-2;
}

p,
.prose {
  max-width: 70ch;
  @apply text-pretty;

  a {
    @apply text-primary hover:text-primary-strong hover:underline;
  }
}

p,
.prose {
  i,
  em {
    @apply italic;
  }
}

p,
.prose {
  b,
  strong {
    @apply font-medium;
  }
}
